<template>
  <div class="average-score-over-time">
    <h2>Reviews</h2>
    <CAFilter
      @change-hotel="setHotel"
      @change-date-range="setDateRange"
      class="mt-5"
    />
    <v-sheet color="white" elevation="1" class="pa-5 mt-10">
      <CALineChart :points="points" />
    </v-sheet>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import CALineChart from "./CALineChart.component.vue";
import CAFilter from "./CAFilter.component.vue";
import api from "./services/Api";
import { Review } from "./types";

interface Point {
  x: string;
  y: number;
}

@Component({
  components: { CALineChart, CAFilter },
})
export default class CAAverageScoreOverTime extends Vue {
  hotelIdSelected?: number;

  reviews: Review[] = [];

  fromSelected?: string;

  toSelected?: string;

  get points(): Point[] {
    return this.reviews.map((point: Review) => {
      return {
        x: point["date-group"],
        y: point["average-score"],
      } as Point;
    });
  }

  setHotel(hotel_id: number): void {
    this.hotelIdSelected = hotel_id;
    this.fetchReviews();
  }

  setDateRange(range: Array<string>): void {
    if (range.length < 1) {
      throw new Error("Invalid range");
    }
    this.fromSelected = new Date(range[0]).toISOString().split("T")[0];
    this.toSelected = new Date(range[1]).toISOString().split("T")[0];
    this.fetchReviews();
  }

  async fetchReviews(): Promise<void> {
    if (this.hotelIdSelected && this.fromSelected && this.toSelected) {
      this.reviews = await api.hotels.reviews.get(
        this.hotelIdSelected,
        this.fromSelected,
        this.toSelected
      );
    }
  }
}
</script>
