<template>
  <div class="filter">
    <v-sheet color="white" elevation="1" class="pa-5">
      <v-row>
        <v-col cols="12" md="6">
          <v-select
            @change="changeHotel"
            item-text="name"
            prepend-icon="mdi-bed"
            item-value="id"
            :items="hotels"
            label="Select Hotel"
          ></v-select>
        </v-col>
        <v-col cols="12" md="6">
          <v-menu
            ref="menu"
            v-model="menu"
            :close-on-content-click="false"
            :nudge-right="40"
            transition="scale-transition"
            offset-y
            min-width="auto"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="dateRangeText"
                label="Select Dates"
                prepend-icon="mdi-calendar"
                readonly
                v-bind="attrs"
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker
              v-model="dates"
              range
              @change="changeDateRange"
              @input="menu2 = false"
            >
              <v-spacer></v-spacer>
              <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
              <v-btn text color="primary" @click="$refs.menu.save(dates)">
                OK
              </v-btn>
            </v-date-picker>
          </v-menu>
        </v-col>
      </v-row>
    </v-sheet>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { Hotel } from "./types";
import api from "./services/Api";
import { Emit } from "vue-property-decorator";

@Component({})
export default class CAFilter extends Vue {
  menu = false;

  hotels: Hotel[] = [];

  dates: Array<string> = [];

  mounted(): void {
    this.getHotels();
  }

  async getHotels(): Promise<void> {
    this.hotels = await api.hotels.get();
  }

  get dateRangeText(): string {
    return this.dates.join(" ~ ");
  }

  @Emit()
  changeHotel(hotel_id: number): number {
    return hotel_id;
  }

  @Emit()
  changeDateRange(range: Array<string>): Array<string> {
    return range;
  }
}
</script>
