<template>
  <div v-if="points.length">
    <JSCharting :options.sync="chartOptions" class="columnChart"></JSCharting>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import JSCharting, { JSC } from "jscharting-vue";
import { Prop, Watch } from "vue-property-decorator";
// import { Review } from "./types";

interface Point {
  x: string;
  y: number;
}

@Component({
  components: { JSCharting },
})
export default class CALineChart extends Vue {
  @Prop({
    default: () => {
      return [];
    },
  })
  // eslint-disable-next-line
  readonly points?: Array<Point>;

  chartOptions: JSC.JSCChartConfig = {};

  mounted(): void {
    this.updateChart();
  }

  updateChart(): void {
    this.chartOptions = {
      type: "line",
      series: [
        {
          name: "Reviews",
          points: this.points,
        },
      ],
    };
  }

  @Watch("points", { deep: true })
  pointsUpdated(): void {
    this.updateChart();
  }
}
</script>
<style scoped>
.columnChart {
  height: 300px;
}
</style>
