<template>
  <v-app>
    <v-navigation-drawer dark permanent app>
      <v-list dense>
        <v-list-item v-for="item in items" :key="item.title" :to="item.path">
          <v-list-item-action>
            <v-icon v-text="item.icon"></v-icon>
          </v-list-item-action>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar app color="primary" dark>
      <div class="d-flex align-center">
        <span>Customer Alliance</span>
      </div>

      <v-spacer></v-spacer>
    </v-app-bar>

    <v-main>
      <v-container fluid>
        <v-row class="fill-height">
          <v-col>
            <router-view />
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";

class MenuItem {
  title = "";
  path = "";
  icon = "";
}

@Component
export default class App extends Vue {
  items: Array<MenuItem> = [
    { title: "Dashboard", path: "/", icon: "mdi-view-dashboard" },
  ];
}
</script>
