<template>
  <div class="home">
    <h1>Dashboard</h1>
    <CAAverageScoreOverTime />
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import CAAverageScoreOverTime from "../components/AverageScoreOverTime/CAAverageScoreOverTime.component.vue";

@Component({
  components: { CAAverageScoreOverTime },
})
export default class Home extends Vue {}
</script>
